@using web_demo.Entities;
@model web_demo.Entities.User

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Schools: </label>

                <select class="form-control" id="schools"  name="SchoolId">
                    @foreach (var school in ViewData["schools"] as List<School>)
                    {
                        <option  value="@school.ID">@school.Name</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label class="control-label">Subjects: </label>

                <select class="form-control" id="userType" onchange="checkIfTeacher()" name="UserTypeId">
                    @foreach (var userType in ViewData["usertypes"] as List<UserType>)
                    {
                        <option data-role="@userType.Name" value="@userType.ID">@userType.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
