@using web_demo.Entities
@model web_demo.Entities.AcademicAssessment

@{
    ViewData["Title"] = "Create";
}

<h4> Create Assessment</h4>
<hr />


<form asp-action="Create">

    <div class="form-group">
        <label class="control-label">Schools:</label>
        <select name="SchoolId">
            @foreach (var school in ViewData["schools"] as List<School>)
            {
                <option name value="@school.ID">@school.Name</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label class="control-label">Academic Period: </label>

        <select name="AcademicPeriodId">
            @foreach (var period in ViewData["AcademicPeriod"] as List<AcademicPeriod>)
            {
                <option value="@period.Id">@period.Name</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label class="control-label">Assessment Type: </label>

        <select name="AssessmentTypeId">
            @foreach (var assessmentType in ViewData["AssessmentType"] as List<AcademicAssessmentType>)
            {
                <option value="@assessmentType.ID">@assessmentType.Name</option>
            }
        </select>
    </div>


    <div class="form-group">
        <label class="control-label">Subjects: </label>

        <select name="SubjectId">
            @foreach (var subject in ViewData["subjects"] as List<Subject>)
            {
                <option value="@subject.Id">@subject.Name</option>
            }
        </select>
    </div>




    <div class="form-group">
        <label class="control-label">Assessment Weight: </label>
        <input type="number" min="1" max="100" name="weight" value="">
    </div>

    <div class="form-group">
        <label class="control-label">Maximum Score: </label>
        <input type="number" min="1" max="100" name="maximumScore" value="">
    </div>

    <table>
        <thead>
            <tr>
                <th class="name-col">Student</th>
                <th>Accessment Score</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in ViewData["students"] as List<Student>)
            {
                <tr class="student">
                    <td class="name-col">@student.FirstName @student.LastName</td>
                    <input type="hidden" name="studentId[]" value="@student.ID">
                    <td class="attend-col"><input type="number" name="score[]" value=""></td>

                </tr>
            }
        </tbody>
    </table>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
